
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Crud Básico</title>
</head>
<body>

  <h1> Cadastro Básico </h1> <br>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name"> <br>
       <br> <input type="text" placeholder="Sobrenome" name="surname"> <br>
        <br> <input type="int" placeholder="Idade" name="age"> <br> 
        <br> <input type="text" placeholder="Estado Civil" name="estadocivil"> <br> <br>
        <br> <br><button type="button" class="btn btn-dark">Salvar</button>
    </form> 
 
</body>
</html> 